useDynLib("RobustOmega", .registration = TRUE)
import(Rcpp, stats)
export(conta_normal)
export(corKendallmat)
export(corQuadrantmat)
export(corSpearmanmat)
export(covGKmat)
export(covNPDmat)
export(covOGKmat)
export(covSpearmanUmat)
export(cvQUIC)
export(nearPPSD)
export(negLLrobOmega)
export(raltert)
export(rmvnorm)
export(rmvt)
export(robQUIC)
