useDynLib("RobustOmega", .registration = TRUE)
import(Rcpp, stats,caret, glasso)
export(conta_normal)
export(corKendallmat)
export(corQuadrantmat)
export(corSpearmanmat)
export(covGKmat)
export(covNPDmat)
export(covOGKmat)
export(covSpearmanUmat)
export(cvglasso)
export(nearPPSD)
export(negLLrobOmega)
export(raltert)
export(rmvnorm)
export(rmvt)
export(robglasso)
